<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>{{ .Title }}</h1>
      <ul>
        {{ range .Todos }} {{ if .Done }}
        <li class="todo done">{{ .Title }}</li>
        {{ else }}
        <li class="todo">{{ .Title }}</li>
        {{ end }} {{ end }}
      </ul>
    </div>
  </body>
</html>
